[submodule "h3_gdextension/godot-cpp"]
	path = h33d/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.3
[submodule "h33d/h3"]
	path = h33d/h3
	url = https://github.com/uber/h3.git
	branch = v4.1.0
